html, body {margin: 0;

  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input:focus {
  outline: none
}
.App{
}
.nav{
  width: 350px;
  background-color: #EED271;
  padding: 40px 40px;
  height: -webkit-fill-available;
  display: inline-block;
  position: absolute;
  box-shadow: 3px 0px 8px grey;
}
.content {
  padding: 40px 40px 0px 450px ;
  margin: auto;
  display: block;
  height: 100%;
  min-width: 550px;
}
.search{
  font-size: 17pt;
  width: 95%;
  border-radius: 5px;
  border: 4px red double;
  background-color: transparent;
  padding: 5px;
}

.category-list{
  padding: 40px 0px;
  height: 700px;
  overflow-y: scroll;
}
.category, .new-category{
  display: block;
  border: none;
  padding: 10px 0px;
  width: 100%;
  border-bottom: 1.5px grey solid;
  background-color: transparent;
  font-size: 17pt;
  margin: 0;
}
.new-category{
  display: none;
}
.alarm-title{
  border: none;
}
.alarm-list{

  padding: 40px 20px;
  height: 780px;
  overflow-y: scroll;
}
::-webkit-scrollbar { 
  display: none; 
}
.add-category{
  width: 82%;
  padding: 15px;
  bottom: 30px;
  font-size: 15pt;
  border-radius: 5px;
  border: 4px black double;
  position: absolute;
  background-color: transparent;
}
.add-category:focus{
  outline: none;
}
.title {
  font-size: 25pt;
  padding: 15px;
  font-weight: bold;
  display: inline-block;
}
.add-alarm{
  position: static;
  float: right;
  padding: 15px;
  font-size: 15pt;
  border-radius: 5px;
  border: 4px black double;
  background-color: transparent;


}
.add-alarm:focus{
  outline: none;
}
.alarm {
  padding: 5px;
  width: 100%;
  border-bottom: 2px grey solid;
  padding: 10px;
  transition: 1s;
}
.alarm:hover{
  background-color: lightgray;
}
.alarm > input {
  border: none;
  background-color: transparent;
  font-size: 17pt;
}
.alarm-done {
  text-decoration: line-through;
  font-style: italic;
  color: grey;
}
.alarm-detail{
  float: right;
}
.newAlarm {
  display: none;
  padding: 10px;
  padding-left: 15px;
  padding-right: 0;
  width: 100%;
  font-size: 17pt;
  border: none;
  border-bottom: 2px grey solid;
}